<h1><%=title%></h1>
<% if(bookinstance_list.length){ %>
    <ul>
        <% for(let val of bookinstance_list){ %>
            <li>
                <a href="<%= val.url%>"><%=val.book.title%>: <%=val.imprint%>- &nbsp;
                    <% if(val.status=='Available'){ %>
                        <span class="text-success"><%=val.status%></span>
                    <% }else if(val.status=='Maintenance'){ %>
                        <span class="text-danger"><%=val.status%></span>
                    <% }else{ %>
                        <span class="text-warning"><%=val.status%></span>
                    <% } %>
                    <% if(val.status != 'Available'){ %>
                        <span>(Due: <%=val.due_back_formatted%>)</span>
                    <% } %>
                </a>
            </li>
            <% } %>
    </ul>
<% } else {%>
    <p>There are no book copies in this library</p>
<% } %>