
<h1><%= title %></h1>
<p>Welcome to LocalLibrary, a very basic Express website developed as a tutorial example on the Mozilla Developer Network.</p>
<h1>Dynamic Content</h1>
<p>The library has the following Record counts:</p>
<ul>
  <li>Books <%= book_count %></li>
  <li>Copies <%= book_instance_count %></li>
  <li>Copies available <%= book_instance_avaialable_count %></li>
  <li>Authors <%= author_count %></li>
  <li>Genres <%= genre_count %></li>
</ul>
